<section id="contact" class="pt-5">
    <div class="container mx-auto">
        <div class="row align-items-center">
            <div class="col-lg-3 mx-auto text-center">
                <img src="{{ '/assets/images/base_site_images/designGIF.webp' | relative_url }}" loading="lazy" 
                     class="img-fluid" alt="Icon GIF">
            </div>
            <div class="col-lg-8">
                <div class="contact-form">
                    <h3><span>Would you like to meet? Let's talk!</span></h3>
                    <p>You may have questions you are curious about or have questions in your mind. In these cases, do not hesitate to contact me you can reach.</p>
                    <p>Take care until we meet again.</p>
                </div>
            </div>
        </div>
        {% include social-links.html %}
        <p class="copyright-text text-center">{{ site.title }} | I hope you found content that contributed and informed you🏹</p>
    </div>
</section>
