---
layout: default
---

<section class="full-screen">
    <div class="container row">
        {% if page.header_image %}
        <img src="{{ page.header_image | relative_url }}" class="img-fluid blog-header-image" 
             alt="{{ page.title }} Header Image">
        {% endif %}
        
        <article class="article-content mx-auto">
            <h2>{{ page.title }}</h2>
            <p><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
            
            {{ content }}
        </article>
    </div>
</section>